//Element Colors
$main-el-color: #ffffff;
$darker-main-el-color: #d8e0ee;
$dark-el-color: rgba(68, 179, 194, 0.5);
$middle-el-color: #44b3c2;
$table-tr-active-color: #f1a94e;
$table-tr-hover-color: #ecf0f7;



//Text Colors
$main-t-color:#626970;
$main-dark-t-color: #2e3438;
$main-light-t-color: #ffffff;

//Text Size
$xs-f-size: 10px;
$s-f-size: 11px;
$m-f-size: 12px;
$l-f-size: 13px;
$header-f-size: 18px;

//Fonts
$main-ff: 'Open Sans', sans-serif;
